*{
    margin: 0;
    padding: 0;
    

}
header {
    background-color: rgba(176, 8, 8, 0.782);
    height: 20vh;
    border: solid rgba(255, 255, 0, 0.752) 5px;
    color: rgb(238, 238, 237);
    
    

}
h1 {
    margin-top: 42px;
    font-family: sans-serif;
    text-align: center;
}
h2 {
    color: brown;
}
h3{
    color: brown;
}

main{
   padding: 10px;
   text-align: justify;
   width: 800px;
    
}

body {
    background-color: antiquewhite;
   
}
img {
    border-radius: 10px;
}